name: Inter-Job-CI

on:
  push:
    branches: [ "main" ]

jobs:
  info:
    runs-on: ubuntu-latest

    outputs:
      mod_id: ${{ steps.mod_id.outputs.value }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Action 1 (benign)
        id: mod_id
        uses: dreamli0/my-action@main

      - name: Action 2 (malicious)
        uses: ciplugins-poc/my-action@v1.0.1

  output:
    runs-on: ubuntu-latest
    needs: info

    steps:
      - name: Print modified ID
        run: echo "${{ needs.info.outputs.mod_id }} version;"
